.GroupsMaster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 22.9%;
    top: 25%;
}

.GroupsDiv {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 160px;
    width: 625px;
}

.EGTitles {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    width: 100%;
    width: 1020px;
}

.EGTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    line-height: 25px;
}

.EGTitleColorBlue {
    color: #008294;
    border-bottom: 3px solid #008294;
}

.EGTitleColorGrey {
    color: rgb(117, 117, 117, 1);
}

.EGWrapper {
    border-top: 1px solid rgb(230, 230, 230, 1);
    min-width: 100%;
    padding: 0px;
    min-height: fit-content;
}

.GroupsImages {
    width: 175px;
    height: 100px;
    box-sizing: border-box;
    border: 0 solid;
    border-radius: .5rem;
    text-decoration: none;
}

.GroupsLink {
    text-decoration: none;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.GroupDiv {
    display: flex;
    flex-direction: row;
    height: 150px;
    overflow: hidden;
}

.GroupsInfo {
    color: black;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1.25rem
}

.GroupsName {
    color: black;
    text-decoration: none;
    line-height: 1.75rem;
    font-weight: 600;
    font-size: 1.25rem;
}

.GroupsCityAndState {
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.GroupsAbout {
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-bottom: .25rem;
    margin-top: 1.25rem;
    height: 44px;
    width: 430;
}


