.EventCard {
    border: 1px solid black;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.EventsLink {
    text-decoration: none;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}
