#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 6px;
    justify-content: center;
    max-height: 1000px;
    width: 475px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    min-height: 825px;
  }


.loginLabel {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: fit-content;
}

.loginInput {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    height: 40px;
    background-color: rgb(232, 240, 254);
    width: 350px;
    border-radius: 8px;
    border: 1px solid rgb(226, 226, 226);
}

.login-modal-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.loginButton {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#f65858;
    border-color: #f65858;
    fill: #ffff;
    color: #ffff;
    border-radius: 8px;
    height: 50px;
    width: 350px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.ModalLoginButton {
    font-size: 14px;
    height: fit-content;
    width: 60px;
    z-index: 1;
    margin-right: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
}

.ModalLoginButton:hover {
    color: #00a2c7;
}

.signup:hover {
    color: #00a2c7;
}

.login-fa {
    margin-top: 1%;
    margin-right: 1%;
}


.DemoUserDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5%;
}

.DemoUserButton {
    margin-left: 1%;
    height: 25px;
    width: 90px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color:#f65858;
    fill: #ffff;
    color: #ffff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}

.DemoUserButton:hover {
    background-color:#fc7171;
}

.LogInWords {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.LoginContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 475px;
}


.togglePassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signup {
    font-size: 14px;
    height: fit-content;
    width: 60px;
    text-decoration: none;
    color: black;
    z-index: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
}

.down-to-clown-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.meetupIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

.view-password-login-no-errors{
    position: absolute;
    right: 15%;
    bottom: 56.25%;
}


.view-password-login-errors {
    position: absolute;
    right: 15%;
    bottom: 54%;
}

.view-password-signup-no-errors {
    position: absolute;
    right: 15%;
    bottom: 28.5%;
}

.view-password-signup-no-errors1 {
    position: absolute;
    right: 15%;
    bottom: 31.5%;
}

.view-password-signup-one-errors {
    position: absolute;
    right: 15%;
    bottom: 26.5%;
}

.view-password-signup-two-errors {
    position: absolute;
    right: 15%;
    bottom: 25.5%;
}

.view-password-signup-three-errors {
    position: absolute;
    right: 15%;
    bottom: 24.8%;
}

.view-password-signup-four-errors {
    position: absolute;
    right: 15%;
    bottom: 24.4%;
}

.view-password2-signup-no-errors {
    position: absolute;
    right: 15%;
    bottom: 17.5%;
}

.view-password2-signup-no-errors1 {
    position: absolute;
    right: 15%;
    bottom: 20.5%;
}

.view-password2-signup-one-errors {
    position: absolute;
    right: 15%;
    bottom: 15.5%;
}

.view-password2-signup-two-errors {
    position: absolute;
    right: 15%;
    bottom: 14.8%;
}

.view-password2-signup-three-errors {
    position: absolute;
    right: 15%;
    bottom: 14.5%;
}

.view-password2-signup-four-errors {
    position: absolute;
    right: 15%;
    bottom: 14.2%;
}

.signup-errors {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: 2%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 14px;
    font-weight: 500;
}

.errors-li {
    padding-top: .5%;
}


.signupDiv {
    display: flex;
    flex-direction: column;
}