.pending-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pending-buttons {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    width: 45px;
    padding-left: 5%;
    padding-right: 1%;
    justify-content: space-between;
}

.red {
    color: red
}

.green {
    color: green;
}

.pending-container {
    display: flex;
    flex-direction: column;
}

.group-name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.member-info-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.member-name {
    display: -webkit-box !important;
    flex-direction: row;
    min-width: 50px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-width: 50px;
}

