/* TODO Add site wide styles */
 * {
    font-family: 'Arimo', sans-serif;
}

body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    overflow-x: hidden
}

html {
    padding: 0%;
    margin: 0%;
    height: 100%;
}

button {
    cursor: pointer;
}

Link {
    cursor: pointer;
}

h1 {
    cursor: default;
}

p {
    cursor: default;
}

.default-cursor {
    cursor: default;
}