.signupForm {
    display: flex;
    justify-content: left;
    flex-direction: column;
}


.signupDiv {
    width: 200vw;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.signupLabel {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 10px;
}

.signupInput {
    margin-bottom: 20px;
    height: 20px;
    padding-left: 5px;
}

.signupButton {
    height: fit-content;
    width: 55px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 19px;
    background-color:#f65858;
    border-color: #f65858;
    fill: #ffff;
    color: #ffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.togglePassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
}