nav {
    display: flex;
    flex-direction: row;
    font-style: none;
}


.navLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    align-items: center;
}

.circles {
    position: absolute;
    left: 95%;
    bottom: 94.2%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    display: inline-block;
    background-color:rgb(255, 173, 67);
    fill: rgb(255, 173, 67);
    border-style: none;
    border-bottom: none;
    z-index: -1;
}

.outerCircle {
    position: absolute;
    left: 94.8%;
    bottom: 94.2%;
    width: 48px;
    height: 48px;
    background-color: none;
    border-radius: 50%;
    border: solid black 1.5px;
    z-index: 1;
}



.MeetupLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 65px;
    margin-top: none;
    margin-left: 20px;
    position: absolute;
    bottom: 87%;
    left: 0%
}

.sessionUserInitial {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.createAGroupText {
    position: absolute;
    left: 1600.9px;
    bottom: 96%;
    text-decoration: none;
    margin-right: 20px;
}


.divForLinks {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    align-items: center;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1%;
}

.navArrow {
    position: absolute;
    left: 98.2%;
    bottom: 95.8%;
    z-index: 1;
}
